/* style toolbar */
.studio .studio-left-bar .toolbar.layout-vertical {
	background-color: #303030;
}
/* style toolbar and navigation button */
.studio .navigation-control .btn-group > .btn-primary,
.studio .studio-left-bar .toolbar .btn-group-vertical > .btn-primary {
	background-color: #303030;
	border-color: #212121;
}
/* style toolbar and navigation active button */
.studio .navigation-control .btn-group > .btn-primary.active,
.studio .studio-left-bar .toolbar .btn-group-vertical > .btn-primary.active {
	background-color: #212121;
	border-color: #000000;
}
/* style scale bar */
.studio .scale-bar .progress-bar {
	background-color: #303030;
}
